:root {
    --primary-color: tomato;
    --secondary-color: turquoise;
    --dark-color: black;
    --light-color: white;
    --padding-space: 1rem;
}

/* .is Class selector 
specificity: 0010
*/
.container {
    max-width: 900px;
    margin: 0 auto;
}

/* space is Descendent combinator */
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* specificity: 0003 */
nav ul li {
    flex: 1;
}

/* > is Direct Child Selector */
main>p {
    font-size: 1.25rem;
}

/* + is Adjacent selector */
h2+p {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: var(--padding-space);
}

/* ~ is Sibling selector */
.stars span:hover~span {
    opacity: .5;
}

.stars span {
    cursor: pointer;
}



/* [] is attribute selector  */
a[href="#"] {
    color: var(--primary-color);
}

/* ^is for checking if the value starts with */

a[href^="http"] {
    border-left: 4px solid var(--primary-color) ;
}

/* LoVe HAte */
nav a,
nav a:link,
nav a:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform .5s;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
    transform: scale(1.4);
}

nav a:active {
    transform: scale(1.4) translateX(10px);
}

/* use ::for pseudo elements */
/* h1::before {
    content: "*";
    color: tomato;
    font-size: 4rem;
    vertical-align: middle;
    padding: .5rem;
}

h1::after {
    content: "%";
    color: tomato;
    font-size: 4rem;
    vertical-align: middle;
    padding: .5rem;
} */

a[href$=".pdf"]::after {
    content: "\2193";
    font-size: 1.25rem;
    color: var(--primary-color);
}

h2+p::first-line {
    color: var(--secondary-color);
}

h3+p::first-letter {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: .25rem;
    margin-right: .10rem;
}

/* 
Additional example
h2 {
    position: relative;
}

h2::before {
    content: "Hello World";
    position: absolute;
    width: 100%;
    background-color: white;
} */

/* calc() function */
.google {
    box-sizing: border-box;
    display: block;
    background: var(--secondary-color);
    width: calc(100% - 2rem);
    padding: 2rem;
    margin: 1rem;
}