/* .is Class selector 
specificity: 0010
*/
.container {
    max-width: 900px;
    margin: 0 auto;
}

/* space is Descendent combinator */
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* specificity: 0003 */
nav ul li {
    flex: 1;
}

/* > is Direct Child Selector */
main>p {
    font-size: 1.25rem;
}

/* + is Adjacent selector */
h2+p {
    background-color: black;
    color: white;
    padding: 1rem;
}

/* ~ is Sibling selector */
.stars span:hover~span {
    opacity: .5;
}

.stars span {
    cursor: pointer;
}



/* [] is attribute selector  */
a[href="#"] {
    color: tomato;
}

/* ^is for checking if the value starts with */

a[href^="http"] {
    border-left: 4px solid tomato ;
}

/* LoVe HAte */
nav a,
nav a:link,
nav a:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform .5s;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
    transform: scale(1.4);
}

nav a:active {
    transform: scale(1.4) translateX(10px);
}

/* use ::for pseudo elements */
/* h1::before {
    content: "*";
    color: tomato;
    font-size: 4rem;
    vertical-align: middle;
    padding: .5rem;
}

h1::after {
    content: "%";
    color: tomato;
    font-size: 4rem;
    vertical-align: middle;
    padding: .5rem;
} */

a[href$=".pdf"]::after {
    content: "\2193";
    font-size: 1.25rem;
    color: tomato;
}

h2+p::first-line {
    color: turquoise;
}

h3+p::first-letter {
    background-color: turquoise;
    color: tomato;
    padding: .25rem;
    margin-right: .10rem;
}